.extern-first {
    padding: 18% 5% 18% 10%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-size:cover;
    height: 100vh;
    background-color: rgba(0, 100, 106, .6);
}

#first {
    background-image: url(../assets/images/lycs-architecture-744230-unsplash-e1561655676822.jpg);
    background-size: cover;
    height: 100vh;

    .image-first {
        display: flex;
        align-items: center;

        img {
            margin-left: auto;
            // width: 400px;
            // min-width: 80%;
            max-width: 90%;
            height: auto;
        }

    }


    .text-first {

        h2 {
            font-size: 3vw;
            color: white;
            text-transform: uppercase;
            text-align: left;
            font-family: 'Edo SZ', sans-serif;
            line-height: normal;
        }

        p {
            padding: 0;
            font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
            font-size: 18px;
            line-height: normal;
            color: white;
        }

        a {
            display: flex;
            justify-content: stretch;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        button {
            background-color: transparent;
            border: 2px solid white;
            color: white;
            font-family: 'Josefin Sans', sans-serif !important;
            font-size: 20px !important;
            transition: .2s;
            padding: 6px 20px;
            position: relative;
            // left: -12px; 
        }

        button:hover {
            border: 2px solid transparent;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 6px 26px;
            border-radius: 2%;

        }

    }
}

.extern-second {
    padding: 15% 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-size:cover;
    background-color: rgba(0, 100, 106, .6);
}

#second {

    background-image: url(../assets/images/Ct_background3.jpg);
    background-size: cover;
    height: 100vh;

    .text-second {

        h2 {
            font-size: 3vw;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Edo SZ', sans-serif;
            line-height: normal;
        }

        p {
            padding: 0;
            font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: white;
        }

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        button {
            background-color: transparent;
            border: 2px solid white;
            color: white;
            font-family: 'Josefin Sans', sans-serif !important;
            font-size: 20px !important;
            transition: .2s;
            padding: 6px 20px;
            position: relative;
            // left: -12px; 
        }

        button:hover {
            border: 2px solid transparent;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 6px 26px;
            border-radius: 2%;

        }

    }
}



#main-slider {
    position: relative;


    .fa-chevron-right,
    .fa-chevron-left {
        color: white;
    }

    .carousel-indicators {

        // bottom:-40px;
        li {
            background-color: rgb(158, 158, 158);
        }
    }

    li {
        border-radius: 50%;
        width: 11px;
        height: 11px;
    }


}





.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}


@media(max-width:980px) {
    #second .text-second {
        h2 {
            font-size: 26px;
        }
        P{
            font-size: 14px;
        }
    }

    #first .text-first {
        h2 {
            font-size: 26px;
        }
        P{
            font-size: 14px;
        }
    }
}

@media(max-width:767px) {
    .extern-second{
        padding: 15%;
    }
    
    #second .text-second {
        h2 {
            font-size: 20px;
        }
        P{
            font-size: 14px;
        }
    }

    .extern-first{
        padding: 18% 10% 18% 10%;
    }
    
    #first .text-first {
        h2 {
            font-size: 20px;
            text-align: center;
        }
        P{
            text-align: center;
            font-size: 14px;
            padding: 5px 0;
        }
        a {
            display: flex;
            justify-content:center;
            text-decoration: none;
        }
    }
}