#porque {
  max-width: 100%;
  height: auto;
  padding-bottom: 70px;
  background-image: url('../assets/images/rawpixel-983726-unsplash-web.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h1 {
    padding: 50px 30px;
    color: #f79733;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: 'Edo SZ', sans-serif;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
      display: flex;
      align-self: center;
      width: 70%;
      margin: auto;
      margin-bottom: 30px;
      padding: 0;
    }
  }

  p {
    text-align: center;
    line-height: normal;
    font-family: 'ABeeZee', Helvetica, Arial, Lucida, sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    color: white;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 1000px) {
  p {
    padding: 0 15px;
    line-height: 1 !important;
  }

  #porque {
    div img {
      width: 70%;
    }
  }
}
