:root {
    --laranjaCT: #f89834;
    --azulCT: #00646a;
}

footer {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 30px 30px 20px 30px;
    background-color: #00646a;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Source Sans Pro';
    text-align: center;

    img {
        position: relative;
        width: 98%;
        margin-bottom: 30px;
    }

    h2 {
        text-align: center;
        font-size: 27px;
        font-weight: normal;
        position: relative;
        top: -10px;
        padding-bottom: 10px;
    }

    p {
        color: white;
        font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
    }

    #footer-icon {

        #phone-icon-footer,#mail-icon-footer,#adress-icon-footer,#clock-icon-footer {
            display: flex;
            padding: 0;
        }


        p {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 30px;
            padding-left: 12px;
            text-align: left;

        }

    }

    a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 30px;

    }
}



p a:hover {
    color: white;
    text-decoration: none;
}

.fa-circle {
    color: var(--laranjaCT);
}



#fb {
    color: #3b5998;
}

#in {
    color: #0e76a8;
}

#insta {
    color: #dd2a7b;
}

#middle-text {
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 10px 10px 0 10px;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    justify-self: center;
    color: rgb(196, 196, 196);
    font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
    background-color: #00646a;
    text-align: center;
    padding: 20px 10px 7px 10px;
    margin: 0;
    vertical-align: middle;
    filter: brightness(.7);
}


@media(max-width:767px){
    footer{
        #footer-icon{
            p{
                margin-bottom: 40px;
            }
        }
        
    }
    .footer-bottom {
        #footer-info{
            font-size: 12px;
        }
        .fa-heart{
            padding: 0 7px;
        }
    }
}