.item{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    padding: 0px 6%;
    height:410px;
}
#nossos-servicos{
    position: relative;
    padding: 0 0  60px 0 ;

    li{
        border-radius: 50%;
        width: 11px;
        height: 11px;
    }

    h1{
        display: block;
        padding: 40px 0;
        color: #f79733;
        text-transform: uppercase;
        font-size: 50px;
        text-align: center;
        margin: 0;
        font-family: 'Edo SZ',sans-serif;
    }
    
    .carousel-indicators{
        bottom: -35px;
        li{
            background-color:rgb(158, 158, 158);
        }
    }
}


.image-servicos{
    display: flex;
    align-items:center;
    img{
        // width: 400px;
        // min-width: 80%;
        max-width: 90%;
        height: auto;
        margin: auto;
        // margin-left: 40px;
    }

}


.text-servicos{
    padding: 30px 80px;

    h2{
        font-size: 3.5vw;
        text-transform: uppercase;
        text-align: left;
        font-family: 'Edo SZ',sans-serif;
    }

    p{
        font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
        line-height: normal;
        color: black;
        padding: 0;
    }

    a{
        display: flex;
        justify-content: stretch;
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
    }

    button{
        background-color: white;
        padding: .4em 1.2em;
        border: 2px solid;
        color: black;
        font-weight: 800;
        font-family: 'JosefinSans',sans-serif !important;
        font-size: 20px !important;
        transition: .2s;
        position: relative;
        // left: -12px; 
    }
    
    button:hover{
        padding: .4em 1.6em;
        border: 2px solid white;
        background-color:rgb(240, 236, 236);
        
    }
    
}

@media (max-width:767px){
    #nossos-servicos{

        img{
            max-width: 83%;
        }
        h2{
            font-size: 20px;
            text-align: center;
        }

        p{
            font-size: 16px;
            text-align: center;
            // padding: 0 50px;
        }


        .text-servicos{
            padding: 30px 16%;
        }
        
        .carousel-indicators{
            bottom:-40px;
            li{
                background-color:rgb(158, 158, 158);
            }
        }

        .item{
            padding: 0px 6%;
            height:auto;
        }
        a{
            justify-content: center;
        }
    }

 }

.fa-chevron-right,.fa-chevron-left{
    color: rgb(94, 94, 94);
    // background-color: black;
}
